* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  font-family: monospace;
  font-size: 16px;
}

body {
  width: 100%;
  position: relative;
  --primary: #147;
  --secondary: #174;
  --background: #fff;
  --background2: #eee;
  --background3: #ccc;
  --text: #121212;
}

body.dark {
  --primary: #69c;
  --secondary: #3c9;
  --background: #121212;
  --background2: #000;
  --background3: #333;
  --text: #eee;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
  background: var(--background);
  color: var(--text);
}

section.container {
  padding: 3.5rem 1rem 1rem;
  min-height: 100vh;
}

.container-full {
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1300px;
  margin: auto;
}

@media screen and (max-width: 800px) {
  section.container {
    padding: 5.25rem 1rem 1rem;
  }
}
