---
import Section from "../components/Section.astro";
---

<Section id="about" fullHeight="true">
  <div class="container fh">
    <h2 class="section-title fade-in" scroll-anim>About</h2>
    <div class="container-inner">
      <p class="fade-in" scroll-anim>
        Hi, I'm Mike. I'm a web developer located in Ellwood City, Pennsylvania.
      </p>
      <p class="fade-in" scroll-anim>
        Hi, I'm Mike. I'm a web developer located in Ellwood City, Pennsylvania.
      </p>
      <p class="fade-in" scroll-anim>
        Hi, I'm Mike. I'm a web developer located in Ellwood City, Pennsylvania.
      </p>
    </div>
  </div>
</Section>

<style></style>
