---
import Section from "../components/Section.astro";
---

<Section id="about" fullHeight="true">
  <div class="container">
    <h2>About</h2>
    <div class="content">
      <div>
        <p class="fade-in" scroll-anim>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa ipsam
          voluptates nostrum perferendis eius odit? Cumque fugit aperiam enim
          possimus impedit odio quod nemo minus.
        </p>
        <p class="fade-in" scroll-anim>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa ipsam
          voluptates nostrum perferendis eius odit? Cumque fugit aperiam enim
          possimus impedit odio quod nemo minus.
        </p>
        <p class="fade-in" scroll-anim>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa ipsam
          voluptates nostrum perferendis eius odit? Cumque fugit aperiam enim
          possimus impedit odio quod nemo minus.
        </p>
        <p class="slide-in-left" scroll-anim>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod est
          obcaecati quibusdam eaque voluptate itaque blanditiis qui possimus,
          provident officia aspernatur? Doloremque fugit dolor dicta nobis
          nesciunt ducimus explicabo, nisi quo maiores? Ab natus sint numquam,
          tenetur nulla est omnis?
        </p>
      </div>
      <div></div>
    </div>
  </div>
</Section>

<style>
  .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    div {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }
</style>
