<div id="background-container">
  <img id="nebula" src="/nebula.png" />
  <img id="stars" src="/stars.png" />
</div>

<!-- <script>
  // @ts-ignore
  const nebula = document.getElementById("nebula");
  const stars = document.getElementById("stars");
  window.addEventListener("scroll", (e) => {
    nebula.style.rotate = window.scrollY / 180 + "deg";
    nebula.style.translate = `${(-1 * window.scrollY) / 2}px ${(-1 * window.scrollY) / 4}px`;
    stars.style.rotate = (-1 * window.scrollY) / 270 + "deg";
    stars.style.translate = `${(-1 * window.scrollY) / 10}px ${(-1 * window.scrollY) / 15}px`;
  });
</script> -->

<style>
  #background-container {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
  }
  img {
    position: absolute;
    width: 100vw;
    height: 100vw;
    object-fit: cover;
    scale: 150%;
    transform-origin: center;
  }

  #stars {
    animation: reverse-spin;
    animation-duration: 360s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  #nebula {
    animation: spin;
    animation-duration: 120s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    filter: brightness(120%) contrast(100%) hue-rotate(-30deg);
  }

  @keyframes spin {
    0% {
      transform: rotateZ(0deg);
    }
    100% {
      transform: rotateZ(360deg);
    }
  }
  @keyframes reverse-spin {
    0% {
      transform: rotateZ(360deg);
    }
    100% {
      transform: rotateZ(0deg);
    }
  }

  @media screen and (max-aspect-ratio: 1/1) {
    img {
      height: 100vh;
      width: 100vh;
      mix-blend-mode: multiply;
    }
  }
</style>
