---
import Section from "../components/Section.astro";
---

<Section id="contact" fullHeight="true">
  <div class="container fh">
    <h2 class="section-title">Contact</h2>
    <div class="container-inner">
      <div id="contact-msg" class="glass-bg contact-msg">
        <p>Thank you for your submission!</p>
      </div>
      <form
        class="glass-bg shadow-in"
        name="contact"
        id="contact-form"
        scroll-anim
        data-netlify="true"
      >
        <div class="form-control fade-in" scroll-anim>
          <label for="name-input">Name</label>
          <input
            type="text"
            id="name-input"
            name="name-input"
            minlength="4"
            required
            placeholder="John Doe"
            data-field
          />
        </div>
        <div class="form-control fade-in" scroll-anim>
          <label for="email-input">Email</label>
          <input
            type="email"
            id="email-input"
            name="email-input"
            required
            placeholder="mrustdev@gmail.com"
            data-field
          />
        </div>
        <div class="form-control fade-in" scroll-anim>
          <label for="message-input">Message</label>
          <textarea
            id="message-input"
            name="message-input"
            rows="8"
            minlength="15"
            required
            data-field
            placeholder="Your message here..."></textarea>
        </div>
        <div class="fade-in" scroll-anim>
          <button
            disabled="true"
            class="btn"
            id="contact-submit-button"
            type="submit">Submit</button
          >
        </div>
      </form>
    </div>
  </div>
</Section>

<script>
  // @ts-nocheck
  const fields = document.querySelectorAll("[data-field]");
  const submit = document.getElementById("contact-submit-button");
  fields.forEach((f) => {
    f.addEventListener("input", (e) => {
      let valid = true;
      fields.forEach((fi) => {
        if (fi.value.length == 0 || !fi.checkValidity()) valid = false;
      });
      submit.disabled = !valid;
    });
  });

  const contactForm = document.getElementById("contact-form");
  const contactMsg = document.getElementById("contact-msg");
  const handleSubmit = async (event) => {
    event.preventDefault();

    const myForm = event.target;
    const formData = new FormData(myForm);

    const res = await fetch("/", {
      method: "POST",
      headers: { "Content-Type": "application/x-www-form-urlencoded" },
      body: new URLSearchParams(formData).toString(),
    });

    contactForm.style.display = "none";
    contactMsg.classList.add("show");
  };

  contactForm.addEventListener("submit", handleSubmit);
</script>

<style>
  .form-control {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    input,
    input:placeholder-shown,
    textarea:placeholder-shown,
    textarea {
      background-color: var(--bg);
      color: var(--text);
      font-size: 1.25rem;
      padding: 0.5rem;
      border: 2px solid var(--primary);
    }

    label {
      font-sie: 1.25rem;
    }
    input:focus,
    textarea:focus {
      outline: none;
      border-color: var(--primary);
      border-radius: var(--border-radius);
    }
    input:valid,
    textarea:valid {
      box-shadow: var(--shadow);
      border-color: var(--primary);
    }
  }
  .contact-msg {
    padding: 1rem;
    text-align: center;
    display: none;
    place-content: center;
    opacity: 0;
    transition: opacity 1000;
    width: 600px;
    border: 2px solid var(--primary);
    box-shadow: var(--shadow);
    border-radius: var(--border-radius);
    font-size: 1.5rem;
  }
  .contact-msg.show {
    display: grid;
    opacity: 1;
  }
  form {
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    border: 2px solid var(--primary);
    /* box-shadow: var(--shadow); */
    border-radius: var(--border-radius);
  }
  @media screen and (max-width: 600px) {
    form,
    #contact-msg {
      width: 90vw;
    }
  }
</style>
