---
import Section from "../components/Section.astro";
---

<Section id="contact" fullHeight="true">
  <div class="container fh">
    <h2 class="section-title">Contact</h2>
    <div class="container-inner">
      <form class="glass-bg shadow-in" scroll-anim>
        <div class="form-control fade-in" scroll-anim>
          <label for="name-input">Name</label>
          <input
            type="text"
            id="name-input"
            name="name-input"
            minlength="4"
            required
            placeholder="John Doe"
            data-field
          />
        </div>
        <div class="form-control fade-in" scroll-anim>
          <label for="email-input">Email</label>
          <input
            type="email"
            id="email-input"
            name="email-input"
            required
            placeholder="mrustdev@gmail.com"
            data-field
          />
        </div>
        <div class="form-control fade-in" scroll-anim>
          <label for="message-input">Message</label>
          <textarea
            id="message-input"
            name="message-input"
            rows="8"
            minlength="15"
            required
            data-field
            placeholder="Your message here..."></textarea>
        </div>
        <div class="fade-in" scroll-anim>
          <button
            disabled="true"
            class="btn"
            id="contact-submit-button"
            type="submit">Submit</button
          >
        </div>
      </form>
    </div>
  </div>
</Section>

<script>
  // @ts-nocheck
  const fields = document.querySelectorAll("[data-field]");
  const submit = document.getElementById("contact-submit-button");
  fields.forEach((f) => {
    f.addEventListener("input", (e) => {
      let valid = true;
      fields.forEach((fi) => {
        if (fi.value.length == 0 || !fi.checkValidity()) valid = false;
      });
      submit.disabled = !valid;
    });
  });
</script>

<style>
  .form-control {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    input,
    input:placeholder-shown,
    textarea:placeholder-shown,
    textarea {
      background-color: var(--bg);
      color: var(--text);
      font-size: 1.25rem;
      padding: 0.5rem;
      border: 2px solid var(--primary);
    }
    label {
      font-sie: 1.25rem;
    }
    input:focus,
    textarea:focus {
      outline: none;
      border-color: var(--primary);
      border-radius: var(--border-radius);
    }
    input:valid,
    textarea:valid {
      box-shadow: var(--shadow);
      border-color: var(--primary);
    }
  }
  form {
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    border: 2px solid var(--primary);
    /* box-shadow: var(--shadow); */
    border-radius: var(--border-radius);
  }
  @media screen and (max-width: 600px) {
    form {
      width: 90vw;
    }
  }
</style>
