---

---

<header id="header">
  <div id="header-inner">
    <div id="logo-btns">
      <a id="nav-title-container" href="#" onclick="javascript:scrollTo(top);">
        <div class="nav-item">
          <p class="section-title nav-title">Mike<span>Rust</span></p>
        </div>
      </a>
      <button type="button" class="btn" id="nav-toggle-btn"
        ><span>+</span></button
      >
    </div>
    <nav>
      <ul>
        <li>
          <a href="#about" class="nav-item" data-link="about"
            ><span>About</span></a
          >
        </li>
        <li>
          <a href="#projects" class="nav-item" data-link="projects"
            ><span>Projects</span></a
          >
        </li>
        <li>
          <a href="#contact" class="nav-item" data-link="contact"
            ><span>Contact</span></a
          >
        </li>
        <li>
          <a href="/MikeRustResume.pdf" target="blank" class="nav-item"
            ><span>Resume</span></a
          >
        </li>
      </ul>
    </nav>
  </div>
  <div id="scroll-tracker">
    <div class="scroll-tracker-inner"></div>
    <div class="scroll-tracker-inner"></div>
  </div>

  <script is:inline>
    const scrollInner = document.querySelectorAll(".scroll-tracker-inner");
    const header = document.getElementById("header");
    window.addEventListener("scroll", (e) => {
      const perc =
        (window.scrollY / (document.body.offsetHeight - window.innerHeight)) *
        100;
      scrollInner.forEach((si) => {
        si.style.width = `${perc / 2}%`;
      });
      // scrollInner.style.width = `${(window.scrollY / (document.body.offsetHeight - window.innerHeight)) * 100}%`;
      if (window.scrollY > 400) {
        header.style.background = "#000";
        header.style.borderBottom = "1px solid var(--primary)";
      } else {
        header.style.background = "#0000";
        header.style.borderBottom = "";
      }
    });

    const navToggle = document.getElementById("nav-toggle-btn");
    const headerInner = document.getElementById("header-inner");
    navToggle.addEventListener("click", (e) => {
      headerInner.classList.toggle("open");
    });
  </script>

  <style>
    #header {
      width: 100%;
      position: sticky;
      top: 0;
      /* border-bottom: 1px solid var(--primary); */
      background: #0000;
      z-index: 100;
      transition: background 500ms;
    }

    #header-inner {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      max-width: var(--content-max);
      margin-left: auto;
      margin-right: auto;
      position: relative;
      font-size: 1.5rem;
      height: var(--header-height);
    }

    .nav-title {
      font-size: 2rem;
      font-weight: 700;
      color: var(--bg);
    }

    #nav-toggle-btn {
      display: none;
    }

    #logo-btns {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      flex-grow: 1;
      width: 100%;
    }

    nav ul {
      display: flex;
      flex-direction: row;
      align-items: center;
      list-style: none;
    }
    .nav-item {
      color: var(--text);
      transition-duration: 300ms;
      place-content: center;
      padding: 0 1rem;
      font-weight: 400;
    }
    li a.nav-item:hover,
    li a.nav-item.active {
      color: var(--primary);
      text-shadow:
        0px 0px 8px var(--primary),
        0px 0px 14px var(--primary);
    }

    #btn-container {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    #btn-container > * {
      place-content: center;
      padding: 0 1em;
    }

    #scroll-tracker {
      width: 100%;
      height: 0.25rem;
      position: relative;
      top: 4px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    .scroll-tracker-inner {
      background: var(--primary);
      box-shadow: var(--shadow);
      height: 1px;
      width: 0%;
    }
    @media screen and (max-width: 700px) {
      html {
        font-size: 14px;
      }
      #header-inner {
        flex-direction: column;
      }
      #header-inner.open {
        background: #000;
      }
      #header-inner.open nav ul {
        display: flex;
      }
      #nav-toggle-btn {
        display: block;
        margin: 0 1rem;
        padding: 0.25rem 0.75rem;
      }
      #header-inner #nav-toggle-btn span {
        font-size: 1.75rem;
        line-height: 1;
        transition: rotate 500ms;
        rotate: z 0deg;
      }
      #header-inner.open #nav-toggle-btn span {
        display: block;
        rotate: z 405deg;
      }
      nav ul {
        flex-direction: column;
        display: none;
        position: absolute;
        top: 100%;
        width: 100%;
        padding: 1rem 0;
        left: 0;
        background: #000;
        text-align: center;
        gap: 1rem;
        border-bottom: 1px solid var(--primary);
      }
      nav ul li,
      nav ul li a span {
        width: 100%;
      }
    }
    @keyframes open {
      0% {
        height: 0%;
      }
      100% {
        height: 100%;
      }
    }
  </style>
</header>
