---
import ThemeToggle from "./ThemeToggle.astro";
---

<header id="header">
  <div id="header-inner">
    <div id="logo-btns">
      <a href="#" onclick="javascript:scrollTo(top);">
        <div class="nav-item">
          <p class="title">Mike<span>Rust</span></p>
        </div>
      </a>
      <ThemeToggle />
    </div>
    <nav>
      <ul>
        <li>
          <a href="#about"
            ><div class="nav-item" data-link="about">About</div></a
          >
        </li>
        <li>
          <a href="#projects"
            ><div class="nav-item" data-link="projects">Projects</div></a
          >
        </li>
        <li>
          <a href="#contact"
            ><div class="nav-item" data-link="contact">Contact</div></a
          >
        </li>
      </ul>
    </nav>
  </div>
  <div id="scroll-tracker">
    <div id="scroll-tracker-inner"></div>
  </div>
</header>

<script is:inline>
  const scrollInner = document.getElementById("scroll-tracker-inner");
  window.addEventListener("scroll", (e) => {
    scrollInner.style.width = `${(window.scrollY / (document.body.offsetHeight - window.innerHeight)) * 100}%`;
  });
</script>

<style>
  #header {
    width: 100%;
    position: fixed;
    top: 0;
    border-bottom: 1px solid var(--primary);
    background: var(--bg);
    z-index: 100;
  }
  #header-inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: var(--content-max);
    margin-left: auto;
    margin-right: auto;
    position: relative;
    font-size: 1.25rem;
    height: 5rem;
  }

  .title {
    font-size: 2rem;
    font-weight: 700;
    color: var(--text-dark);
    span {
      color: var(--primary);
    }
  }

  #logo-btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    width: 100%;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
  }
  .nav-item {
    color: var(--text-dark);
    transition-duration: 300ms;
    place-content: center;
    padding: 0 1rem;
    font-weight: 400;
  }
  li .nav-item:hover,
  li .nav-item.active {
    color: var(--primary);
  }
  #btn-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  #btn-container > * {
    place-content: center;
    padding: 0 1em;
  }

  #scroll-tracker {
    width: 100%;
    height: 0.25rem;
    position: relative;
    top: 4px;
  }
  #scroll-tracker-inner {
    background: var(--primary);
    box-shadow: 0px 0px 5px 2px var(--primary);
    height: 1px;
    width: 0%;
  }
  @media screen and (max-width: 700px) {
    html {
      font-size: 14px;
    }
  }
  @keyframes open {
    0% {
      height: 0%;
    }
    100% {
      height: 100%;
    }
  }
</style>
