---

---

<header id="header">
  <div id="header-inner">
    <div id="logo-btns">
      <a href="#" onclick="javascript:scrollTo(top);">
        <div class="nav-item">
          <p class="title">Mike<span>Rust</span></p>
        </div>
      </a>
      <button id="themeToggle">
        <svg width="30px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <path id="sun" class="themeIcon" fill-rule="evenodd" d="M12 17.5a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zm0 1.5a7 7 0 1 0 0-14 7 7 0 0 0 0 14zm12-7a.8.8 0 0 1-.8.8h-2.4a.8.8 0 0 1 0-1.6h2.4a.8.8 0 0 1 .8.8zM4 12a.8.8 0 0 1-.8.8H.8a.8.8 0 0 1 0-1.6h2.5a.8.8 0 0 1 .8.8zm16.5-8.5a.8.8 0 0 1 0 1l-1.8 1.8a.8.8 0 0 1-1-1l1.7-1.8a.8.8 0 0 1 1 0zM6.3 17.7a.8.8 0 0 1 0 1l-1.7 1.8a.8.8 0 1 1-1-1l1.7-1.8a.8.8 0 0 1 1 0zM12 0a.8.8 0 0 1 .8.8v2.5a.8.8 0 0 1-1.6 0V.8A.8.8 0 0 1 12 0zm0 20a.8.8 0 0 1 .8.8v2.4a.8.8 0 0 1-1.6 0v-2.4a.8.8 0 0 1 .8-.8zM3.5 3.5a.8.8 0 0 1 1 0l1.8 1.8a.8.8 0 1 1-1 1L3.5 4.6a.8.8 0 0 1 0-1zm14.2 14.2a.8.8 0 0 1 1 0l1.8 1.7a.8.8 0 0 1-1 1l-1.8-1.7a.8.8 0 0 1 0-1z"/>
          <path id="moon" class="themeIcon" fill-rule="evenodd" d="M16.5 6A10.5 10.5 0 0 1 4.7 16.4 8.5 8.5 0 1 0 16.4 4.7l.1 1.3zm-1.7-2a9 9 0 0 1 .2 2 9 9 0 0 1-11 8.8 9.4 9.4 0 0 1-.8-.3c-.4 0-.8.3-.7.7a10 10 0 0 0 .3.8 10 10 0 0 0 9.2 6 10 10 0 0 0 4-19.2 9.7 9.7 0 0 0-.9-.3c-.3-.1-.7.3-.6.7a9 9 0 0 1 .3.8z"/>
        </svg>
      </button>
    </div>
    <nav>
      <ul>
        <li>
          <a href="#projects"><div class="nav-item" data-link="projects">Projects</div></a>
        </li>
        <li>
          <a href="#about"><div class="nav-item" data-link="about">About</div></a>
        </li>
        <li>
          <a href="#contact"><div class="nav-item" data-link="contact">Contact</div></a>
        </li>
      </ul>
    </nav>
  </div>
  <div id="scroll-tracker">
    <div id="scroll-tracker-inner"></div>
  </div>
</header>

<script is:inline>
  // theme toggle
  const theme = (() => {
    if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
      return localStorage.getItem('theme');
    }
    if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
      return 'dark';
    }
      return 'light';
  })();

  const sun = document.getElementById("sun");
  const moon = document.getElementById("moon");

  if (theme === 'light') {
    document.documentElement.classList.remove('dark');
    sun.classList.remove("hidden");
    moon.classList.add("hidden");
  } else {
    document.documentElement.classList.add('dark');
    sun.classList.add("hidden");
    moon.classList.remove("hidden");
  }

  window.localStorage.setItem('theme', theme);

  const handleToggleClick = () => {
    const element = document.documentElement;
    element.classList.toggle("dark");
    sun.classList.toggle("hidden");
    moon.classList.toggle("hidden");

    const isDark = element.classList.contains("dark");
    localStorage.setItem("theme", isDark ? "dark" : "light");
  }

  document.getElementById("themeToggle").addEventListener("click", handleToggleClick);

  // scroll bar
  const scrollInner = document.getElementById("scroll-tracker-inner");
  window.addEventListener("scroll", (e) => {
    scrollInner.style.width = `${(window.scrollY/(document.body.offsetHeight - window.innerHeight)) * 100}%`;
  });
  
</script>

<style>
  #header {
    width: 100%;
    position: fixed;
    top: 0;
    border-bottom: 1px solid var(--primary);
    background: var(--bg);
  }
  #header-inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: var(--content-max);
    margin-left: auto;
    margin-right: auto;
    position: relative;
    font-size: 1.25rem;
    height: 5rem;
  }

  .title {
    font-size: 2rem;
    font-weight: 700;
    color: var(--text-dark);
    span {
      color: var(--primary)
    }
  }

  #logo-btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    width: 100%;
  }

  #themeToggle {
    border: 0;
    background: none;
    cursor: pointer;
    margin: 0px 1rem;
  }

  #themeToggle .themeIcon {
    fill: var(--text-dark);
    transition-duration: 300ms;
  }

  #themeToggle:hover .themeIcon {
    fill: var(--primary);
  }

  .themeIcon.hidden {
    display: none;
  }

  nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    
  }
  .nav-item {
    color: var(--text-dark);
    transition-duration: 300ms;
    place-content: center;
    padding: 0 1rem;
    font-weight: 400;
  }
  li .nav-item:hover, li .nav-item.active {
    color: var(--primary);
  }
  #btn-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  #btn-container > * {
    place-content: center;
    padding: 0 1em;
  }
  
  #scroll-tracker {
    width: 100%;
    height: .25rem;
  }
  #scroll-tracker-inner {
    background: var(--primary);
    height: .25rem;
    width: 0%;
  }
  @media screen and (max-width: 700px) {
    html {
      font-size: 14px;
    }
  @keyframes open{
    0% {
      height: 0%;
    }
    100% {
      height: 100%;
    }
  }
  
</style>