---
---

<section class="container">
  <h1>Hero Section</h1>
</section>


<!-- style -->
<style>
  section {
    height: calc(100vh - 2.5rem);
    background: linear-gradient(var(--background2), var(--background));
    max-height: 800px;
  }
</style>