---
---

<section id="hero" class="container">
  <h1>Hero Section</h1>
</section>


<!-- style -->
<style>
  section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 3rem;
  }
  h1 {
    font-size: 2rem;
  }
  @media screen {
    
  }
</style>