---
import Section from "../components/Section.astro";
---

<Section id="hero" class="hero" fullHeight="true">
  <div class="centered" id="hero-content"></div>
</Section>

<style>
  .centered {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
    font-size: 6vw;
    font-weight: 800;
  }

  @media screen and (max-width: 700px) {
    .centered {
      font-size: 8vw;
    }
    #hero-content-shadow p {
      translate: 0 8vw;
    }
  }
  @keyframes cycle {
    to {
      background-position: 200%;
    }
  }
</style>
