---
import Section from "../components/Section.astro";
---

<section id="hero" class="hero">
  <div class="container fh" id="hero-content">
    <div class="container-inner">
      <h1 class="section-title">Mike Rust</h1>
    </div>
  </div>
</section>

<style>
  .hero {
    height: calc(100vh - var(--header-height));
  }

  h1 {
    font-size: 5rem;
    font-weight: 900;
  }
</style>
