---
import Nav from "./Nav.astro";
const {title} = Astro.props;
import "../styles/global.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
    <Nav />
		<main class="container-full">
      <slot />
    </main>
		<script>
			const sections = document.querySelectorAll("section");
			const links = document.querySelectorAll(".nav a");
			window.onscroll = (e) => {
			const topArr = [];
			sections.forEach(s => topArr.push(s.getBoundingClientRect().top));
			const index = topArr.findIndex(s => s < 100 && s > 0);
			
			if (index != -1) {
				links.forEach(l => l.classList.remove("active"));
				links[index].classList.add("active");
			} else {
				const newIndex = topArr.findIndex(s => s>0);
				if (newIndex != -1) {
					links.forEach(l => l.classList.remove("active"));
					links[newIndex - 1].classList.add("active");
				}
			}
			}
		</script>
	</body>
</html>