---
const { project, index } = Astro.props;
const bg = "--bg: url(" + project.src + ");";
---

<div class="project-card fade-in" style={bg} scroll-anim data-index={index}>
  {index != 0 ? <img src={project.src} /> : ""}
</div>

<style>
  .project-card {
    width: 100%;
    height: 100%;
    position: relative;
    border: 1px solid var(--primary);
    overflow: hidden;
    background: var(--bg);
    background-size: cover;
    background-position: center;
  }
  img {
    width: 100%;
    height: 100%;
    background: #000;
    object-fit: cover;
  }
</style>
