---
import Section from "../components/Section.astro";
import ScrollDisplay from "./ScrollDisplay.astro";
const projects = [
  {
    title: "Special Forces Art Department",
    link: "https://graphicdesignerpa.netlify.app/",
    description:
      "A business / portfolio website for a freelance graphic designer. Built with NextJS.",
    src: "",
  },
  {
    title: "Whos That Pokemon",
    link: "https://misqke-whos-that-pokemon.netlify.app/",
    description: "A whos that pokemon game built in Astro using ReactJS.",
    src: "",
  },
];
---

<Section id="projects" fullHeight="true">
  <div class="container">
    <h2>Projects</h2>
    <ScrollDisplay items={projects} />
  </div>
</Section>
