---
import Section from "../components/Section.astro";
import ScrollDisplay from "./ScrollDisplay.astro";
const projects = [
  {
    title: "Special Forces Art Department",
    link: "https://graphicdesignerpa.netlify.app/",
    description:
      "A business / portfolio website for a freelance graphic designer. Built with react using NextJS.",
    src: "",
  },
  {
    title: "NoPixel GTA Hacking Game",
    link: "https://nopixelhacking.netlify.app/",
    description:
      "Clone of the hacking mini game from the NoPixel GTA RP server. Built with React.",
    src: "",
  },
  {
    title: "D&D Encounter Generator",
    link: "https://encounter-buddy.netlify.app/",
    description:
      "An encounter generator / monster compendium for Dungeons and Dragons 5th edition. Built with React using NextJs",
    src: "",
  },
];
---

<Section id="projects" fullHeight="true">
  <div class="container fh">
    <h2 class="section-title sticky">Projects</h2>
    <div class="projects-inner container-inner">
      <ScrollDisplay items={projects} />
    </div>
  </div>
</Section>
