---
import { Icon } from "astro-icon/components";
---

<div id="skills-bar">
  <div class="icon-card fade-in" scroll-anim style="--i:1">
    <Icon name="IonLogoHtml5" />
    <p class="section-title">HTML</p>
  </div>
  <div class="icon-card fade-in" scroll-anim style="--i:2">
    <Icon name="IonLogoCss3" />
    <p class="section-title">CSS</p>
  </div>
  <div class="icon-card fade-in" scroll-anim style="--i:3">
    <Icon name="IonLogoJavascript" />
    <p class="section-title">JavaScript</p>
  </div>
  <div class="icon-card fade-in" scroll-anim style="--i:4">
    <Icon name="IonLogoReact" />
    <p class="section-title">React</p>
  </div>
  <div class="icon-card fade-in" scroll-anim style="--i:5">
    <Icon name="IonLogoNodejs" />
    <p class="section-title">Node</p>
  </div>
  <div class="icon-card fade-in" scroll-anim style="--i:6">
    <Icon name="IonLogoWordpress" />
    <p class="section-title">Wordpress</p>
  </div>
  <div class="icon-card fade-in" scroll-anim style="--i:7">
    <Icon name="mdiSQL" />
    <p class="section-title">SQL</p>
  </div>
  <div class="icon-card fade-in" scroll-anim style="--i:8">
    <Icon name="deviconCSharp" />
    <p class="section-title">C# / .NET</p>
  </div>
</div>

<style>
  #skills-bar {
    padding: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4rem;
    overflow: hidden;
    border-radius: var(--border-radius);
  }
  .icon-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    perspective: 2000px;
    transform-style: preserve-3d;
  }
  .icon-card p {
    font-weight: bold;
    font-size: 1.5rem;
  }
  [data-icon] {
    font-size: 5rem;
    color: var(--bg);
    filter: drop-shadow(0px 0px 15px var(--primary));
  }
  @keyframes icon-spin {
    0% {
      rotate: y 0deg;
    }
    100% {
      rotate: y 360deg;
      opacity: 1;
    }
  }
  @media screen and (max-width: 1400px) {
    #skills-bar {
      gap: 3rem;
    }
    [data-icon] {
      font-size: 4rem;
    }
    .icon-card p {
      font-size: 1.25rem;
    }
  }
  @media screen and (max-width: 1100px) {
    #skills-bar {
      gap: 2.5rem;
    }
    [data-icon] {
      font-size: 3rem;
    }
    .icon-card p {
      font-size: 1rem;
    }
  }
  @media screen and (max-width: 850px) {
    #skills-bar {
      display: grid;
      width: 100%;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 1.5rem;
    }
    [data-icon] {
      font-size: 15vw;
    }
    .icon-card p {
      font-size: 2rem;
    }
  }
  @media screen and (max-width: 600px) {
    #skills-bar {
      grid-template-columns: 1fr 1fr;
    }
    [data-icon] {
      font-size: 25vw;
    }
    .icon-card p {
      font-size: 8vw;
    }
  }
</style>
