---
import "../../node_modules/bootstrap-icons/font/bootstrap-icons.min.css";
---
<div id="theme-toggle-container">
  <i id="sun-icon" class="bi bi-sun-fill"></i>
  <label for="theme-toggle">
    <input id="theme-toggle" hidden type="checkbox" />
    <span id="toggle-nub"></span>
  </label>
  <i id="moon-icon" class="bi bi-moon"></i>
</div>

<style>
  #theme-toggle-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
  }
  label{
    width: 2rem;
    height: 1rem;
    border-radius: .5rem;
    border: 1px solid var(--text);
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  #toggle-nub{
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background: var(--primary);
    display: block;
    transition-duration: 100ms;
  }
  i{
    font-size: 1rem;
    color: var(--primary);
  }
  #theme-toggle-container.dark #toggle-nub {
    transform: translateX(100%);
  }
</style>


<script>
  const themeToggle = document.getElementById("theme-toggle");
  const container = document.getElementById("theme-toggle-container");
  const moon = document.getElementById("moon-icon");
  const sun = document.getElementById("sun-icon");
  themeToggle.onchange = (e) => {
    document.body.classList.toggle("dark");
    container.classList.toggle("dark");
    let theme = e.target.checked ? "dark" : "light";
    moon.classList.toggle("bi-moon");
    moon.classList.toggle("bi-moon-fill");
    sun.classList.toggle("bi-sun");
    sun.classList.toggle("bi-sun-fill");
    window.localStorage.setItem("theme", theme);
  };
  let theme = window.localStorage.getItem("theme");
  if (theme == "dark") {
    themeToggle.checked = true;
    container.classList.add("dark");
    document.body.classList.add("dark");
    moon.classList.toggle("bi-moon");
    moon.classList.toggle("bi-moon-fill");
    sun.classList.toggle("bi-sun");
    sun.classList.toggle("bi-sun-fill");
  }
</script>