---
---

<div class="flip-box">
  <div class="card-container">
    <div class="card-face back">
      This is the back
    </div>
    <div class="card-face front">
      This is the front
    </div>
  </div>
</div>

<style>
  .flip-box {
    perspective: 450px;
    width: 200px;
    height: 200px; 
  }
  .card-container{
    width: 100%;
    height: 100%;
    position: relative;
    transition-duration: 500ms;
    backface-visibility: hidden;
  }
  .card-face::before{
    content: "";
    position: absolute;
    bottom: -40px;
    width: 100%;
    box-shadow: 0px 0px 20px 2px var(--neutral);
  }
  .flip-box:hover .card-container {
    transform: rotateY(180deg);
  }
  .card-face{
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .card-face.front {
    background: red;
  }
  .card-face.back {
    background: blue;
    transform: rotateY(180deg);
  }
</style>